.container {
  width: 80%;
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  margin: 0 auto;
  margin-top: 16px;
  padding: 8px;
  overflow-y: scroll;
  border: 3px solid #b5b5be;
  &::-webkit-scrollbar {
    display: none;
  }
}
