.container {
  width: 20%;
  height: 90vh;
  border: 3px solid #b5b5be;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}
.sidebarBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
  .sidebarBtn {
    display: flex;
    position: absolute;

    &:hover {
      background-color: rgb(121, 119, 119) !important;
    }
  }
  .mobileSidebar {
    width: 30%;
    margin-top: 53px;
    background-color: rgb(211, 208, 208);
  }
}
