.container {
  width: 220px;
  height: 650px;
  border: 3px solid #b5b5be;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 4px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .container {
    display: none;
  }
}
